.widget
{
    box-sizing: border-box;
    border-radius: 10px;
    display: block;
    margin: 1% 0 1% 0.5%;
}

.weather_box{
    padding: 0px 8px 0px 8px;
    width: 100%;
    background-color: #D5E3FC;
}

body {
    margin-left:  2%;
    margin-right: 2%;
    background-color: rgb(236, 232, 232);
    font-family: "Cambria, Cochin, Georgia, Times, 'Times New Roman', serif";
}

.budget {
    height: 515px;
    padding: 10px 20px;
    background-color: #CEE9D6;
}

.new_budget_entry {
    padding: 10px 8px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #D9D9D9;
}

.form-item .cost
{
    width: 15%;
}

.form-item .budget_log
{
    display: block;
    margin-bottom: 10px;
}

#showMore {
    margin: 10px 0px;
}

.widget h2 {
    text-align: center;
}

.progress_bar {
    padding: 10px 8px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #EDA909;
}

.sched{
    background-color: #8ADFE9;
    padding: 5px;
}

.staar_center, .first_center, .tufts_ocl {
    text-align: center;
    padding: 2% 8px 0px 8px;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 10%;
    width: 30%;
    font-size: large;
    height: 140px;
    background-color: #EDA909;
    border-radius: 10px;
}  
a {
    text-decoration: none;
}
.button {
    background-color: #8ADEF9;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size:large;
    padding: 2px 15px;
}

h1 {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 25px; 
	text-align: center; 
}
h2 {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    font-size: 25px; 
    text-align: center; 
    margin: 5%;
}	
.random1{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    font-size: 20px; 
    text-align: center; 
    margin: 5%;
}

.quote{
    background-color: #FEB1A3;
    padding: 10px;
    text-align: center; 
}