



.widget
{
    box-sizing: border-box;
    border-radius: 10px;
    display: block;
    margin: 1% 0 1% 0.5%;
}

.weather_box{
    padding: 0px 8px 0px 8px;
    width: 20%;
    color: rgb(82, 182, 185);
}

body {
    margin-left:  2%;
    margin-right: 2%;
    background-color: #FEF1E6;
}

.budget {
    height: 800px;
    padding: 10px 20px;
    background-color: #90AACB;
}

.new_budget_entry {
    padding: 10px 8px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #bcb5eb;
}

.form-item .cost
{
    width: 15%;
}

.form-item .budget_log
{
    display: block;
    margin-bottom: 10px;
}

#showMore {
    margin: 10px 0px;
}

.widget h2 {
    text-align: center;
}

.progress_bar {
    padding: 10px 8px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #3cd5eb;
}

h1 {
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 25px; 
	text-align: center; 
}
